<!-- ====== start footer ====== -->
<footer class="style-16 border-top brd-gray">
    <div class="container">
        <div class="row gx-0 justify-content-between">
            <div class="col-lg-3 col-sm-6">
                <div class="items">
                    <a href="home16-AI-saas-home.html#" class="foot-logo">
                        <img src="assets/img/logo_16.svg" alt="" class="logo">
                    </a>
                    <div class="text fs-16px color-999 mt-15"> At onnat we are a dynamic creative agency dedicated to transforming your. </div>
                    <div class="socail-icons mb-5 mb-lg-0">
                        <a href="https://iteck-html.themescamp.com/twiter.com"
                            class="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://iteck-html.themescamp.com/facebook.com"
                            class="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://iteck-html.themescamp.com/instagram.com"
                            class="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://iteck-html.themescamp.com/youtube.com"
                            class="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="links-group">
                    <div class="foot-title">
                        Navigation
                    </div>
                    <ul>
                        <li>
                            <a href="home16-AI-saas-home.html#">Home</a>
                        </li>
                        <li>
                            <a href="home16-AI-saas-home.html#">About Us</a>
                        </li>
                        <li>
                            <a href="home16-AI-saas-home.html#">Services</a>
                        </li>
                        <li>
                            <a href="home16-AI-saas-home.html#">Page</a>
                        </li>
                        <li>
                            <a href="home16-AI-saas-home.html#">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="links-group">
                    <div class="foot-title">
                        Services
                    </div>
                    <ul>
                        <li>
                            <a href="home16-AI-saas-home.html#">Content Writing</a>
                        </li>
                        <li>
                            <a href="home16-AI-saas-home.html#">SEO Services</a>
                        </li>
                        <li>
                            <a href="home16-AI-saas-home.html#">Brain Storming</a>
                        </li>
                        <li>
                            <a href="home16-AI-saas-home.html#">Podcast Script</a>
                        </li>
                        <li>
                            <a href="home16-AI-saas-home.html#">Email Marketing</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="items">
                    <div class="foot-title">
                        Newsletter
                    </div>
                    <small class="color-666">Register now to get latest updates on <br> promotions & coupons. </small>
                    <form action="https://iteck-html.themescamp.com/contact.php" class="form mt-30" method="post">
                        <div class="form-group">
                            <input type="text" placeholder="Enter your email">
                            <button> <i class="bi bi-send"></i> </button>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                I Agree with the terms and conditions
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="row">
                <div class="col-lg-6">
                    <small class="fs-16px color-999">
                        All Rights Reserved. Designed by
                        <a href="https://themeforest.net/user/themescamp" class="fw-bold text-decoration-underline text-white">ThemesCamp</a>
                        2024
                    </small>
                </div>
                <div class="col-lg-6">
                    <div class="foot-links text-lg-end mt-4 mt-lg-0">
                        <a href="home16-AI-saas-home.html#"> Terms of Service </a>
                        <a href="home16-AI-saas-home.html#"> Privacy policy </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ====== end footer ====== -->