<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P8Q2DWL" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- ---------- loader ---------- -->
<div id="preloader">
    <div id="loading-wrapper" class="show">
        <div id="loading-text"> <img src="/img/logo_loading.png" alt=""> </div>
        <div id="loading-content"></div>
    </div>
</div>
<!-- ====== end loading page ====== -->

<!-- ====== start navbar ====== -->
<nav class="navbar navbar-expand-lg navbar-dark style-16 position-absolute w-100">
    <div class="container container-custom">
        <a class="navbar-brand" href="home16-AI-saas-home.html#">
            <img src="/img/logo_ll.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0 text-uppercase">
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="home16-AI-saas-home.html#" id="navbarDropdown1"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Homes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="index.html"> Landing Preview </a></li>
                        <li><a class="dropdown-item" href="home-it-solutions2.html"> Creative It Solutions </a></li>
                        <li><a class="dropdown-item" href="home-data-analysis.html"> Data Analysis </a></li>
                        <li><a class="dropdown-item" href="home-app-landing.html"> App Landing </a></li>
                        <li><a class="dropdown-item" href="home-saas-technology.html"> Saas Technology </a></li>
                        <li><a class="dropdown-item" href="home-marketing-startup.html"> Marketing Startup </a></li>
                        <li><a class="dropdown-item" href="home-it-solutions.html"> It Solution </a></li>
                        <li><a class="dropdown-item" href="home-software-company.html"> Software Company </a></li>
                        <li><a class="dropdown-item" href="home-digital-agency.html"> Digital Agency </a></li>
                        <li><a class="dropdown-item" href="home-shop-modern.html"> Modern Shop </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="home16-AI-saas-home.html#" id="navbarDropdown2"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        pages
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="page-about.html">about</a></li>
                        <li><a class="dropdown-item" href="page-services.html">services</a></li>
                        <li><a class="dropdown-item" href="page-contact-2.html">Contact</a></li>
                        <li><a class="dropdown-item" href="https://iteck-html.themescamp.com/page-404-2.html.html">404
                                error</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="page-portfolio-5.html">
                        portfolio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="page-blog-5.html">
                        Blog
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="page-contact-5.html">
                        contact
                    </a>
                </li>
            </ul>
            <div class="nav-side">
                <div class="d-flex ps-4">
                    <a href="home16-AI-saas-home.html#" class="search-icon me-5">
                        <i class="bi bi-search"></i>
                    </a>
                    <div class="dropdown">
                        <button
                            class="icon-35 dropdown-toggle p-0 border-0 bg-transparent rounded-circle img-cover text-white"
                            type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/img/lang.png" alt="">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="home16-AI-saas-home.html#">English</a></li>
                            <li><a class="dropdown-item" href="home16-AI-saas-home.html#">Arabic</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- ====== end navbar ====== -->