{{ $feather := resources.Get "/js/feather.min.js" }}
{{ $bootstrap := resources.Get "/libs/bootstrap-5.1.3/dist/js/bootstrap.bundle.min.js" }}
{{ $anime := resources.Get "/js/anime.min.js" }}
{{ $masonry := resources.Get "js/masonry.min.js" }}
{{ $main := resources.Get "/js/main.js" }}

{{ $fullscript := slice $feather $bootstrap $anime $masonry $main | resources.Concat "/js/vendor.js" | minify | fingerprint "sha512" }}

<script src="{{ $fullscript.RelPermalink }}" integrity="{{ $fullscript.Data.Integrity }}"></script>