{{ define "main" }}
<div class="bv-header-container shadow">
    <div class="bv-body-container">
        <div class="bv-grid"></div>
        <div class="bv-lines"></div>
        <h1 class="bv-header-h1">
            <span id="bruno">BRUNO</span>
            <span id="bruno-shadow">BRUNO</span>
        </h1>
        <h2 class="bv-header-h2">Velázquez</h2>
    </div>
</div>

<div class="container my-5">
    <div class="row align-items-center rounded-3">
        <div class="col-lg-7 p-5">
            <div class="d-flex justify-content-center align-items-top">
                <div class="flex-shrink-0">
                    <img class="bv-profile-pic bv-image shadow-lg" src="https://s3.us-east-2.amazonaws.com/brunovelazquez.com.bucket/IMG_20211017_174717_117.webp" alt="profile pic">
                </div>
                <div class="ms-3">
                    <h1 class="display-5 fw-bold lh-1 text-yellow-400 bv-text-shadow">Ingeniero en Desarrollo de Software</h1>
                </div>
            </div>
            <p class="lead my-5 text-white-50 fw-bold">Orgullosamente del Estado de Morelos, especializado en construir soluciones de software integrales para tu negocio o empresa. Aficionado en el desarrollo de videojuegos e internet de las cosas</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
              <a href="#contact" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Contactar</a>
              <a href="#projects" class="btn btn-outline-secondary btn-lg px-4">Ver portafolio</a>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg d-none d-lg-block">
              <img class="rounded" src="https://s3.us-east-2.amazonaws.com/brunovelazquez.com.bucket/bg-about.webp" alt="profile pic" height="600">
          </div>
    </div>
</div>

<div class="bg-gray-100 pt-5 pb-5 shadow">
    <div class="container">
        <div class="row align-items-center ">
            <div class="col-md-4 text-center text-lg-start order-1 order-md-2">
                <h1 class="text-yellow-400 bv-text-shadow my-5 fw-bold">POST RECIENTES</h1>
                <p class="fs-4 my-5 text-gray-600 fw-bold">Me gusta postear sobre temas relacionados a la ingeniería de software, ciencia de datos, tecnología financiera, internet de las cosas y desarrollo de videojuegos</p>
                <a href="/posts" class="btn btn-lg btn-primary fw-bold mb-5">Ver todos los posts</a>
            </div>
            <div class="col-md-8 order-2 order-md-1">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    {{ range first 6 (where .Data.Pages "Section" "posts") }}
                        {{ range .Pages }}
                            <div class="col-12 col-md-6 my-2">
                                <div class="card bg-dark rounded border-0">
                                    <img src="{{ .Param "banner" }}" class="card-img-top" alt="{{ .Title }}">
                                    <div class="card-body p-5">
                                    <h5 class="card-title">{{ .Title }}</h5>
                                    {{ partial "metadata.html" . }}
                                    <p class="card-text mt-3">{{ .Description }}</p>
                                    <a href="{{ .Permalink }}" class="btn btn-lg btn-primary fw-bold">Leer post</a>
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pt-5 pb-5" id="projects">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-lg-start">
                <h1 class="text-yellow-400 bv-text-shadow my-5 fw-bold">PROYECTOS</h1>
                <p class="fs-4 my-5 text-white-50 fw-bold">Me especializo en llevar tu negocio a lo digital, crear estrategias de negocio para incrementar tus ventas y generar mejores rendimientos</p>
                <!-- <a href="/projects" class="btn btn-lg btn-secondary fw-bold mb-5">Ver todos los proyectos</a> -->
            </div>
            <div class="col-md-6">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    {{ range first 1 (where .Data.Pages "Section" "projects") }}
                        {{ range .Pages }}
                            <div class="col-12 col-md-6 my-2">
                                <div class="card bg-dark text-white rounded border-0 ">
                                    <img src="{{ .Param "banner" }}" class="card-img project-img rounded" alt="{{ .Title }}">
                                    <div class="card-img-overlay bg-purple-900 opacity-75"></div>
                                    <div class="card-img-overlay p-5">
                                        <h5 class="card-title">{{ .Title }}</h5>
                                        <p class="card-text">{{ .Description }}</p>
                                        <button type="button" class="btn btn-secondary fw-bold" data-bs-toggle="modal" data-bs-target="#project-{{ .File.TranslationBaseName }}">Ver proyecto</button>
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ range first 1 (where .Data.Pages "Section" "projects") }}
    {{ range .Pages }}
        <!-- Modal -->
        <div class="modal fade" id="project-{{ .File.TranslationBaseName }}" tabindex="-1" aria-labelledby="{{ .Title }}Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ .Title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            {{ .Description }}
                        </p>
                        <img src="{{ .Param "banner" }}" class="img-fluid" alt="{{ .Title }}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}

<div class="bg-purple-900 shadow" id="contact">
    <div class="container px-5 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-md-10 mx-auto col-lg-5 order-2 order-md-1">
                <form action="" method="post" enctype="application/x-www-form-urlencoded" class="text-primary fw-bold">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nombreInput" placeholder="Juan Pérez">
                        <label for="floatingInput">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="emailInput" placeholder="Juan@miempresa.com">
                        <label for="floatingInput">Correo electrónico</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="celularInput" placeholder="5555555555">
                        <label for="floatingInput">Celular</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Deja tu comentario" id="comentarioInput" style="height: 100px"></textarea>
                        <label for="comentarioInput">Comentarios</label>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-lg btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-7 text-center text-lg-start order-1 order-md-2">
                <h1 class="text-yellow-400 bv-text-shadow my-5 fw-bold">CONTACTO</h1>
                <p class="fs-4 text-white-50 fw-bold">Si deseas que dé alguna charla o contratarme para tu proyecto puedes escribirme en el formulario. También puedes seguir mi trayectoria a través de mis redes sociales</p>
                <div class="d-flex justify-content-center align-items-center justify-content-md-start my-5">
                    {{ range .Site.Menus.social }}
                    <a class="mx-2" href="{{ .URL }}" target="_blank">
                        {{ if .Pre }}
                            {{ $icon :=  printf "<i class=\"feather-24\" data-feather=\"%s\"></i> " .Pre | safeHTML }}
                            {{ $icon }}
                        {{ end }}
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}