{{ define "main" }}
<div class="bv-header-container shadow">
    <div class="bv-body-container">
        <div class="bv-grid"></div>
        <div class="bv-lines"></div>
        <h1 class="bv-header-h1">
            <span id="bruno">BRUNO</span>
            <span id="bruno-shadow">BRUNO</span>
        </h1>
        <h2 class="bv-header-h2">Velázquez</h2>
    </div>
</div>

<div class="container my-5">
    <div class="row align-items-center rounded-3">
        <div class="col-lg-7 p-5">
            <div class="d-flex justify-content-center align-items-top">
                <div class="flex-shrink-0">
                    <img class="bv-profile-pic bv-image shadow-lg" src="https://s3.us-east-2.amazonaws.com/brunovelazquez.com.bucket/IMG_20211017_174717_117.webp" alt="profile pic">
                </div>
                <div class="ms-3">
                    <h1 class="display-5 fw-bold lh-1 text-yellow-400 bv-text-shadow">Ingeniero en Desarrollo de Software</h1>
                </div>
            </div>
            <p class="lead my-5 text-white-50 fw-bold">Orgullosamente del Estado de Morelos, especializado en construir soluciones de software integrales para tu negocio o empresa. Aficionado en el desarrollo de videojuegos e internet de las cosas.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
              <a href="#" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Contactar</a>
              <a href="#" class="btn btn-outline-secondary btn-lg px-4">Ver portafolio</a>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg d-none d-lg-block">
              <img class="rounded-lg-3" src="https://s3.us-east-2.amazonaws.com/brunovelazquez.com.bucket/bg-about.webp" alt="profile pic" height="600">
          </div>
    </div>
</div>

<div class="bg-blue-900 pt-5 pb-5 shadow border-top border-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center text-yellow-400 bv-text-shadow my-5 fw-bold">POST RECIENTES</h1>
                <p class="lead my-5 text-white-50 fw-bold text-center">Me gusta postear sobre temas relacionados a la ingeniería de software, ciencia de datos, tecnología financiera, internet de las cosas y desarrollo de videojuegos</p>
            </div>
        </div>
        <div class="row" data-masonry='{"percentPosition": true }'>
            {{ range first 6 (where .Data.Pages "Section" "posts") }}
                {{ range .Pages }}
                    <div class="col-12 col-md-4 my-5">
                        <div class="card bg-dark rounded shadow border-0">
                            <img src="{{ .Param "banner" }}" class="card-img-top" alt="{{ .Title }}">
                            <div class="card-body p-5">
                            <h5 class="card-title">{{ .Title }}</h5>
                            <span>{{.Date.Day}} {{i18n .Date.Month}} {{.Date.Year}}</span>
                            <p class="card-text">{{ .Description }}</p>
                            <a href="{{ .Permalink }}" class="btn btn-lg btn-primary fw-bold">Leer post</a>
                            </div>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>

<div class="pt-5 pb-5 shadow border-top border-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center text-yellow-400 bv-text-shadow my-5 fw-bold">PROYECTOS</h1>
                <p class="lead my-5 text-white-50 fw-bold text-center">Me especializo en llevar tu negocio a lo digital, en las comunicaciones en tiempo real, la integración y distribución continuas</p>
            </div>
        </div>
        <div class="row" data-masonry='{"percentPosition": true }'>
            {{ range first 3 (where .Data.Pages "Section" "projects") }}
                {{ range .Pages }}
                    <div class="col-12 col-md-4 my-5">
                        <div class="card bg-primary rounded shadow border-0">
                            <div class="card-body p-5">
                            <h5 class="card-title">{{ .Title }}</h5>
                            <span>{{.Date.Day}} {{i18n .Date.Month}} {{.Date.Year}}</span>
                            <p class="card-text">{{ .Description }}</p>
                            <a href="{{ .Permalink }}" class="btn btn-lg btn-secondary fw-bold">Ver proyecto</a>
                            </div>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>

<div class="pt-5 pb-5 shadow border-top border-primary bg-purple-900">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center text-yellow-400 bv-text-shadow my-5 fw-bold">CONTACTO</h1>
                <p class="lead my-5 text-white-50 fw-bold text-center">Si deseas que dé alguna charla o contratarme para tu proyecto puedes escribirme en el siguiente formulario</p>
            </div>
        </div>
        <div class="row" data-masonry='{"percentPosition": true }'>
            <div class="col-12 col-md-6 offset-md-3 my-5 text-primary fw-bold">
                <form action="" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nombreInput" placeholder="Juan Pérez">
                        <label for="floatingInput">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="emailInput" placeholder="Juan@miempresa.com">
                        <label for="floatingInput">Correo electrónico</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="celularInput" placeholder="5555555555">
                        <label for="floatingInput">Celular</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Deja tu comentario" id="comentarioInput" style="height: 100px"></textarea>
                        <label for="comentarioInput">Comentarios</label>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-lg btn-primary btn-">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{ end }}