{{ define "main" }}
<div id="particles-js"></div>
<div class="container">
    <div class="profile">
        <h1>Bruno Levi Dev</h1>
        <p class="subtitle">Ingeniero de Software Sr.</p>
        <p class="description">
            Apasionado por los negocios, IoT y la ingeniería de software. Me gusta crear contenido de alta calidad en español.
        </p>
    </div>
    <div class="links">
        <a href="https://medium.com/@brunolevidev" target="_blank" class="link">
            📝 Artículos sobre negocios
        </a>
        <a href="https://dev.to/brunolevidev" target="_blank" class="link">
            💻 Artículos sobre ingeniería
        </a>
        <a href="https://www.youtube.com/@brunolevidev" target="_blank" class="link">
            🎥 Pensamientos
        </a>
<!--        <a href="https://tiktok.com/@tu-usuario" target="_blank" class="link">
            ⚡ Consejos rápidos
        </a>-->
        <a href="https://www.instagram.com/brunolevidev/" target="_blank" class="link">
            📸 Estilo de vida dev
        </a>
        <a href="https://www.linkedin.com/in/brunolevidev/" target="_blank" class="link">
            🚀 Linkedin
        </a>
    </div>
</div>

{{ end }}